<!DOCTYPE html>
<!-- saved from url=(0039)question/36301524 -->
<html lang="zh-CN" dropeffect="none"
      class="js  is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile"
      style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" async="" src="../scripts/za-0.1.1.min.js"></script>
    <script async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-ZA-Response-Id" content="4b3ad1bf1e8045f1a016c31f5fbb40c8">
    <title>$!{question.getTitle()}</title>
    <meta name="apple-itunes-app" content="app-id=432274380, app-argument=nowcoder://questions/36301524">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="mobile-agent" content="format=html5;url=">
    <meta id="znonce" name="znonce" content="8d61d9c6697d4080ab36aa3bdb21b9d8">
    <link rel="search" type="application/opensearchdescription+xml" href="" title="牛客">
    <link rel="stylesheet" href="../styles/detail.css">
    <script src="../scripts/instant.e7a17de6.js"></script>
</head>

<body class="zhi ">
    #parse("head.vm")
<div class="zu-global-notify zu-global-notify-info" id="zh-question-redirect-info" style="display:none"></div>
<div class="zu-global-notify zu-global-notify-info" id="zh-question-notification-summary" style="display:none;">
    <div class="zg-wrap">
        <div class="zu-global-nitify-inner">
            <span class="zu-global-notify-icon"></span>
            <ul class="zu-question-notify-wrap"></ul>
        </div>
    </div>
</div>
<div class="zg-wrap zu-main clearfix with-indention-votebar" itemscope="" itemtype="http://schema.org/Question"
     id="zh-single-question-page" data-urltoken="36301524" role="main">
    <div class="zu-main-content">
        <div class="zu-main-content-inner">
            <meta itemprop="isTopQuestion" content="false">
            <meta itemprop="visitsCount" content="402">
            <div class="zm-tag-editor zg-section">
                <div class="zm-tag-editor-labels zg-clear">
                    #foreach($keyword in $keywords)
                        <a data-tip="t$b$19550730" class="zm-item-tag" href="">$!{keyword}</a>
                    #end
                    <a href="javascript:;" class="zu-edit-button" name="edit">
                        <i class="zu-edit-button-icon"></i>关键词</a>
                </div>
            </div>
            <div id="zh-question-title" data-editable="true" class="zm-editable-status-normal">
                <h2 class="zm-item-title">

                    <span class="zm-editable-content">$!{question.getTitle()}</span>

                </h2>
            </div>
            <div id="zh-question-detail" class="zm-item-rich-text zm-editable-status-normal" data-resourceid="6727688"
                 data-action="/question/detail">
                <div class="zm-editable-content">$!{question.getTitle()}</div>
            </div>
            <div class="zm-side-section">
                <div class="zm-side-section-inner" id="zh-question-side-header-wrap">
                    <button data-follow="q:m:button" class="follow-button zg-follow zg-btn-green" data-id="6727688">
                        关注问题
                    </button>
                    <div class="goog-menu goog-menu-vertical" role="menu" aria-haspopup="true"
                         style="-webkit-user-select: none; visibility: visible; left: 92px; top: 33px; display: none;">
                        <div class="goog-menuitem" role="menuitem" id=":8" style="-webkit-user-select: none;">
                            <div class="goog-menuitem-content" style="-webkit-user-select: none;">使用匿名身份</div>
                        </div>
                        <div class="goog-menuitem" role="menuitem" id=":9" style="-webkit-user-select: none;">
                            <div class="goog-menuitem-content" style="-webkit-user-select: none;">问题重定向</div>
                        </div>
                    </div>
                    <div class="zh-question-followers-sidebar">
                        <div class="zg-gray-normal">
                            <a href="">
                                <strong>$!{question.getCommentCount()}</strong></a>人关注该问题
                        </div>
                        <div class="list zu-small-avatar-list zg-clear">
                            <a data-tip="p$b$yi-yi-98-91-99" class="zm-item-link-avatar" href=""
                               data-original_title="奕奕">
                                <img src="$!{user.getHeadUrl()}" class="zm-item-img-avatar"></a>...
                        </div>
                    </div>
                </div>
            </div>
#parse("detail/comment.vm")
            <div id="zh-question-collapsed-link" class="zu-question-collap-title" style="display:none">
                <a href="javascript:;" name="expand" class="zg-link-gray" id="zh-question-collapsed-switcher">
                    <span id="zh-question-collapsed-num">0</span>个回答被折叠</a>（
                <a target="_blank" href="" class="zg-link-gray">为什么？</a>）
            </div>
            <div id="zh-question-collapsed-wrap" class="zh-question-answer-wrapper" style="display:none"></div>
            <a name="draft"></a>
            #parse("detail/answerbox.vm")
            <!-- 版权演示 -->
        </div>
    </div>
</div>
    #parse("js.vm")
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
#parse("footer.vm")