<div class="feed-item folding feed-item-hook feed-item-5
                        " feed-item-a="" data-type="a" id="feed-5" data-za-module="FeedItem" data-za-index="">
    <meta itemprop="ZReactor" data-id="2721435" data-meta="{&quot;source_type&quot;: &quot;promotion_answer&quot;, &quot;voteups&quot;: 2517, &quot;comments&quot;: 471, &quot;source&quot;: []}">
    <div class="feed-item-inner">
        <div class="avatar">
            <a title="吕剑霆" data-tip="p$t$jtlvcn" class="zm-item-link-avatar" target="_blank" href="https://nowcoder.com/people/jtlvcn">
                <img src="html/images/res/a3f80f6a6_m.jpg" class="zm-item-img-avatar"></a>
        </div>
        <div class="feed-main">
            <div class="feed-source" data-za-module="FeedSource">热门回答，来自
                <a href="https://nowcoder.com/topic/19604128" data-tip="t$b$19604128" data-token="19604128" data-topicid="18012" target="_blank">医学</a>
                <a data-follow="t:link" href="javascript:;" class="zg-follow zu-autohide follow-topic zu-edit-button" data-id="18012">关注话题</a></div>
            <div class="feed-content" data-za-module="AnswerItem">
                <meta itemprop="answer-id" content="2721435">
                <meta itemprop="answer-url-token" content="18864677">
                <h2 class="feed-title">
                    <a class="question_link" target="_blank" href="https://nowcoder.com/question/21643389#answer-2721435">晕倒前憋了尿，晕倒后会尿出来吗？还是像睡觉一样等醒来才能尿？</a></h2>
                <div class="feed-question-detail-item">
                    <div class="question-description-plain zm-editable-content"></div>
                </div>
                <div class="expandable entry-body">
                    <!-- <link itemprop="url" href="/question/21643389/answer/18864677">
                    <meta itemprop="answer-id" content="2721435">
                    <meta itemprop="answer-url-token" content="18864677"> -->
                    <div class="zm-item-vote">
                        <a class="zm-item-vote-count js-expand js-vote-count" href="javascript:;" data-bind-votecount="">2517</a></div>
                    <div class="zm-votebar" data-za-module="VoteBar">
                        <button class="up" aria-pressed="false" title="赞同">
                            <i class="icon vote-arrow"></i>
                            <span class="count">2517</span>
                            <span class="label sr-only">赞同</span></button>
                        <button class="down" aria-pressed="false" title="反对，不会显示你的姓名">
                            <i class="icon vote-arrow"></i>
                            <span class="label sr-only">反对，不会显示你的姓名</span></button>
                    </div>
                    <div class="zm-item-answer-author-info">
                        <a class="author-link" data-tip="p$t$jtlvcn" target="_blank" href="https://nowcoder.com/people/jtlvcn">吕剑霆</a>
                        <span title="半血复活ing..." class="bio">，半血复活ing...</span></div>
                    <div class="zm-item-vote-info" data-votecount="2517" data-za-module="VoteInfo">
                                                <span class="voters text">
                                                    <a href="#" class="more text">
                                                        <span class="js-voteCount">2517</span>&nbsp;人赞同</a></span>
                    </div>
                    <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="838079" data-action="/answer/content" data-author-name="吕剑霆" data-entry-url="/question/21643389/answer/18864677">
                        <textarea hidden="" class="content">谢邀~我并不是这个专业的，只是知道身为医生的常识，回答只为引玉~&lt;br&gt;尿道括约肌的紧张是主要由小脑和下丘脑维持，而松驰是由大脑控制。一般程度的晕迷是指大脑意识的丧失，而下丘脑和小脑这些“原始”的控制中枢并不受影响。所以，一般情况下，晕迷中是不会排尿的。如果晕迷中排尿，很可能是“低级中枢”失功能，会并发呼吸、心跳等“不自主”维持身体运行的功能失去，非常危险。</textarea>
                        <div class="zh-summary summary clearfix">谢邀~我并不是这个专业的，只是知道身为医生的常识，回答只为引玉~尿道括约肌的紧张是主要由小脑和下丘脑维持，而松驰是由大脑控制。一般程度的晕迷是指大脑意识的丧失，而下丘脑和小脑这些“原始”的控制中枢并不受影响。所以，一般情况下，晕迷中是不会排…
                            <a href="https://nowcoder.com/question/21643389/answer/18864677" class="toggle-expand">显示全部</a></div>
                        <p class="visible-expanded">
                            <a itemprop="url" class="answer-date-link meta-item" data-tip="s$t$发布于 2013-09-13" target="_blank" href="https://nowcoder.com/question/21643389/answer/18864677">编辑于 2013-09-18</a></p>
                    </div>
                </div>
                <div class="feed-meta">
                    <div class="zm-item-meta answer-actions clearfix js-contentActions">
                        <div class="zm-meta-panel">
                            <a data-follow="q:link" class="follow-link zg-follow meta-item" href="javascript:;" id="sfb-123114">
                                <i class="z-icon-follow"></i>关注问题</a>
                            <a href="#" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                <i class="z-icon-comment"></i>69 条评论</a>
                            <a href="#" class="meta-item js-thank" data-thanked="false">
                                <i class="z-icon-thank"></i>感谢</a>


                            <button class="meta-item item-collapse js-collapse">
                                <i class="z-icon-fold"></i>收起</button>
                        </div>
                    </div>
                    <a href="#" class="ignore zu-autohide" name="dislike" data-tip="s$b$不感兴趣"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="undo-dislike-options" data-item_id="5">此内容将不会在动态中再次显示
        <span class="zg-bull">•</span>
        <a href="#" class="meta-item revert">撤销</a>
        <a href="#" class="ignore zu-autohide close"></a>
    </div>
</div>