<!DOCTYPE html>
<html lang="zh-CN"
      class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>读《Web 全栈工程师的自我修养》 - web开发的愚人之旅 - 牛客网</title>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="读《Web 全栈工程师的自我修养》">
    <meta name="description" content="阅读影浅分享的读《Web 全栈工程师的自我修养》，就在牛客网。">

    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/font-awesome.min.css">

    <link rel="stylesheet" media="all" href="../styles/letter.css">

    <script src="../scripts/hm.js"></script>
    <script src="../scripts/detail.js"></script>

    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.qrcode.min.js"></script>
</head>
<body class="posts_show">
    #parse("header.html")
<div id="main">
    <div class="zg-wrap zu-main clearfix ">
        <ul class="letter-chatlist">
            <li id="msg-item-4009580">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">今天 15:28</p>
                            <a href="javascript:void(0);" id="del-link" name="4009580">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=141625">"二维数组中的查找"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3993979">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-23 20:52</p>
                            <a href="javascript:void(0);" id="del-link" name="3993979">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=141384">"二维数组中的查找"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3969636">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-22 20:12</p>
                            <a href="javascript:void(0);" id="del-link" name="3969636">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=141023">"二维数组中的查找"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3951814">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-22 10:23</p>
                            <a href="javascript:void(0);" id="del-link" name="3951814">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/655a43d702cd466093022383c24a38bf?toCommentId=140827">"回文串"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3891213">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-17 21:25</p>
                            <a href="javascript:void(0);" id="del-link" name="3891213">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=139813">"二维数组中的查找"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3887263">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-17 17:09</p>
                            <a href="javascript:void(0);" id="del-link" name="3887263">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=139749">"二维数组中的查找"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3873768">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-16 21:53</p>
                            <a href="javascript:void(0);" id="del-link" name="3873768">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=139559">"二维数组中的查找"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3855466">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-15 22:23</p>
                            <a href="javascript:void(0);" id="del-link" name="3855466">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/655a43d702cd466093022383c24a38bf?toCommentId=139271">"回文串"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3844040">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-15 11:30</p>
                            <a href="javascript:void(0);" id="del-link" name="3844040">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=139031">"二维数组中的查找"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
            <li id="msg-item-3838847">
                <a class="list-head">
                    <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">06-14 21:58</p>
                            <a href="javascript:void(0);" id="del-link" name="3838847">删除</a>
                        </div>
                        <p class="chat-content">
                            你收藏的问题<a class="msg-view-all"
                                     href="/questionTerminal/abc3fe2ce8e146608e868a70efebf62e?toCommentId=138905">"二维数组中的查找"</a>
                            有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？<a class="msg-view-all"
                                                             href="/profile/account#setNotification">点击设置</a>
                            ）
                        </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <script type="text/javascript">
        $(function () {

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function () {

                $('.weixin-qrcode-dropdown').show();

                var options = {
                    "img_url": "",
                    "link": "http://nowcoder.com/j/wt2rwy",
                    "desc": "",
                    "title": "读《Web 全栈工程师的自我修养》"
                };

                WeixinJSBridge.on('menu:share:appmessage', function (argv) {
                    WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });

                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });

                // $(window).on('touchmove scroll', function() {
                //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                //     $('div.backdrop').show();
                //     $('div.share-help').show();
                //   } else {
                //     $('div.backdrop').hide();
                //     $('div.share-help').hide();
                //   }
                // });

            });

        })
    </script>
</div>
<div id="zh-footer" class="zh-footer">
    <div class="content zg-wrap clearfix">
        <ul>

            <li><a href="https://liukanshan.zhihu.com" target="_blank">刘看山</a></li>

            <li><a href="/question/19581624" target="_blank">牛客指南</a></li>
            <li><a href="javascript:;" id="js-feedback-button">建议反馈</a></li>

            <li><a href="/app" target="_blank">移动应用</a></li>
            <li><a href="/careers">加入牛客</a></li>
            <li><a href="/terms" target="_blank">牛客协议</a></li>
            <li><a href="/contact">联系我们</a></li>

        </ul>

        <span class="copy">© 2016 牛客</span>

    </div>
</div>

<div id="quick-download">
    <button type="button" class="close-link btn-link" data-toggle="modal" data-target="#quick-download-app-modal"><i
            class="fa fa-times-circle"></i></button>

    <a class="download-link" href="http://nowcoder.com/download">
        <h3>牛客网</h3>
        <h4>程序员的首选学习分享平台</h4>
        <button type="button" class="btn btn-info btn-sm">下载 APP</button>
    </a>

    <div class="modal fade" id="quick-download-app-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">提示</div>
                <div class="modal-body">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input id="already-installed" type="checkbox"><i></i> 我已安装了牛客网App，不再显示
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-default" id="close-quick-download-app-modal">关 闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("footer.html")