<!DOCTYPE html>
<html lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>读《Web 全栈工程师的自我修养》 - web开发的愚人之旅 - 牛客网</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="读《Web 全栈工程师的自我修养》">
    <meta name="description" content="阅读影浅分享的读《Web 全栈工程师的自我修养》，就在牛客网。">

    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/font-awesome.min.css">

    <link rel="stylesheet" media="all" href="../styles/letter.css">

    <script src="../scripts/hm.js"></script>
    <script src="../scripts/detail.js"></script>

    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.qrcode.min.js"></script>
</head>
<body class="posts_show">
#parse("header.html")
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1"></a>
                    <div class="letter-info">
                        <span class="l-time">今天 15:28</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                共268条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            99+
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                你收藏的问题"二维数组中的查找" 有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？点击设置 ）
                            </a>
                        </p>
                    </div>
                </li>
                <li id="conversation-item-10001_622873">
                <a class="letter-link" href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                </a>
                <div class="letter-info">
                <span class="l-time">06-23 11:07</span>
                <div class="l-operate-bar">
                <a href="javascript:void(0);" class="sns-action-del" data-id="10001_622873">
                删除
                </a>
                <a href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                共46条会话
                </a>
                </div>
                </div>
                <div class="chat-headbox">
                <span class="msg-num">
                41
                </span>
                <a class="list-head">
                <img alt="头像" src="http://static.nowcoder.com/images/head/like.png">
                </a>
                </div>
                <div class="letter-detail">
                <a title="赞" class="letter-name level-color-1">
                赞
                </a>
                <p class="letter-brief">
                <a href="msg-list?conversationId=10001_622873&amp;updateRead=1&amp;msgType=1">
                你的回答"C,D  ..." 收到来自用户一根小天线 的赞，获得的成就值+3，哎呦不错哦~
                </a>
                </p>
                </div>
                </li>
                <li id="conversation-item-10004_622873">
                <a class="letter-link" href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                </a>
                <div class="letter-info">
                <span class="l-time">2015-12-13</span>
                <div class="l-operate-bar">
                <a href="javascript:void(0);" class="sns-action-del" data-id="10004_622873">
                删除
                </a>
                <a href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                共1条会话
                </a>
                </div>
                </div>
                <div class="chat-headbox">
                <span class="msg-num">
                1
                </span>
                <a class="list-head">
                <img alt="头像" src="http://static.nowcoder.com/images/head/recommend.png">
                </a>
                </div>
                <div class="letter-detail">
                <a title="回答采纳" class="letter-name level-color-1">
                回答采纳
                </a>
                <p class="letter-brief">
                <a href="msg-list?conversationId=10004_622873&amp;updateRead=1&amp;msgType=1">
                亲爱的zmnk，你在"下述有关b..." 一题中留下的答案已被牛客采纳，做为系统推荐答案啦~~获得的成就值+10。PS. 牛客上还有好多未解之题等着你这样的聪明人儿来征服，能者多劳，再多贡献点智慧吧~
                </a>
                </p>
                </div>
                </li>
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1"></a>
                    <div class="letter-info">
                        <span class="l-time">今天 15:28</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                共268条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            99+
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                你收藏的问题"二维数组中的查找" 有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？点击设置 ）
                            </a>
                        </p>
                    </div>
                </li>
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1"></a>
                    <div class="letter-info">
                        <span class="l-time">今天 15:28</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                共268条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            99+
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                你收藏的问题"二维数组中的查找" 有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？点击设置 ）
                            </a>
                        </p>
                    </div>
                </li>
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1"></a>
                    <div class="letter-info">
                        <span class="l-time">今天 15:28</span>
                        <div class="l-operate-bar">
                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                共268条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            99+
                        </span>
                        <a class="list-head">
                            <img alt="头像" src="http://static.nowcoder.com/images/head/notify.png">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            通知
                        </a>
                        <p class="letter-brief">
                            <a href="msg-list?conversationId=10005_622873&amp;updateRead=1&amp;msgType=1">
                                你收藏的问题"二维数组中的查找" 有了新的回答，去看看对自己是否有用吧。（不想再收到此类提醒？点击设置 ）
                            </a>
                        </p>
                    </div>
                </li>
                </ul>

        </div>
        <script type="text/javascript">
          $(function(){

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function() {

              $('.weixin-qrcode-dropdown').show();

              var options = {
                "img_url": "",
                "link": "http://nowcoder.com/j/wt2rwy",
                "desc": "",
                "title": "读《Web 全栈工程师的自我修养》"
              };

              WeixinJSBridge.on('menu:share:appmessage', function (argv){
                WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              WeixinJSBridge.on('menu:share:timeline', function (argv) {
                WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                  // _report('send_msg', res.err_msg)
                });
              });

              // $(window).on('touchmove scroll', function() {
              //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
              //     $('div.backdrop').show();
              //     $('div.share-help').show();
              //   } else {
              //     $('div.backdrop').hide();
              //     $('div.share-help').hide();
              //   }
              // });

            });

          })
        </script>
    </div>
    <div id="zh-footer" class="zh-footer">
<div class="content zg-wrap clearfix">
<ul>

<li><a href="https://liukanshan.zhihu.com" target="_blank">刘看山</a></li>

<li><a href="/question/19581624" target="_blank">牛客指南</a></li>
<li><a href="javascript:;" id="js-feedback-button">建议反馈</a></li>

<li><a href="/app" target="_blank">移动应用</a></li>
<li><a href="/careers">加入牛客</a></li>
<li><a href="/terms" target="_blank">牛客协议</a></li>
<li><a href="/contact">联系我们</a></li>

</ul>

<span class="copy">© 2016 牛客</span>

</div>
</div>

  <div id="quick-download">
    <button type="button" class="close-link btn-link" data-toggle="modal" data-target="#quick-download-app-modal"><i class="fa fa-times-circle"></i></button>

    <a class="download-link" href="http://nowcoder.com/download">
      <h3>牛客网</h3>
      <h4>程序员的首选学习分享平台</h4>
      <button type="button" class="btn btn-info btn-sm">下载 APP</button>
    </a>

    <div class="modal fade" id="quick-download-app-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">提示</div>
          <div class="modal-body">
            <div class="checkbox">
              <label class="i-checks">
                <input id="already-installed" type="checkbox"><i></i> 我已安装了牛客网App，不再显示
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-block btn-default" id="close-quick-download-app-modal">关 闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>
#parse("footer.html")