<div id="zh-question-answer-form-wrap" class="zh-question-answer-form-wrap">
    <div class="zm-editable-tip zu-answer-form-disabled-wrap" style="display: none;"></div>
    <div class="zm-editable-content" style="display: none;">
    </div>
    <div class="zm-editable-editor-wrap" style="">
        <div class="zh-answer-form clearfix">
            <a href="people/hu-yuan-24-48" title="$!{user.getName()}" class="zm-item-link-avatar"
               data-tip="p$t$hu-yuan-24-48">
                <img src="$!{user.getHeadUrl()}" class="zm-list-avatar"></a>
            <div>
                <div class="zu-answer-form-title">
                    <a href="people/hu-yuan-24-48" title="$!{user.getName()}"
                       data-tip="p$t$hu-yuan-24-48">$!{user.getName()}</a>
                    <span>
                                        <a name="edit_bio" class="zu-edit-button" href="question/$!{question.getId()}">
                                            <i class="zu-edit-button-icon"></i>填写话题经验，提升回答可信度</a>
                                    </span>
                </div>
            </div>
        </div>
        <div class="zm-editable-editor-outer">
            <div class="zm-editable-toolbar-container goog-scrollfloater">
                <div class="goog-toolbar goog-toolbar-horizontal" role="toolbar" tabindex="-1"
                     style="-webkit-user-select: none;">
                    <div class="goog-inline-block goog-toolbar-button" title="写作模式" role="button"
                         id="toggleFullScreen" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-max" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-inline-block goog-toolbar-button" title="粗体 (ctrl+b)" role="button"
                         aria-pressed="false" id="+bold" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-bold" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-inline-block goog-toolbar-button" title="斜体 (ctrl+i)" role="button"
                         aria-pressed="false" id="+italic" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-italic" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-inline-block goog-toolbar-button" title="下划线 (ctrl+u)" role="button"
                         aria-pressed="false" id="+underline" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-underline" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-toolbar-separator goog-toolbar-separator-disabled goog-inline-block"
                         aria-disabled="true" role="separator" id=":m" style="-webkit-user-select: none;">
                        &nbsp;</div>
                    <div class="goog-inline-block goog-toolbar-button" title="引用内容" role="button"
                         aria-pressed="false" id="+blockquote" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-blockquote" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-inline-block goog-toolbar-button" title="插入代码" role="button"
                         aria-pressed="false" id="+code" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-code" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-inline-block goog-toolbar-button" title="有序列表" role="button"
                         aria-pressed="false" id="+insertOrderedList" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-insertOrderedList"
                                     style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-inline-block goog-toolbar-button" title="无序列表" role="button"
                         aria-pressed="false" id="+insertUnorderedList" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-insertUnorderedList"
                                     style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-inline-block goog-toolbar-button" title="插入公式" role="button"
                         id="+equation" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-equation" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-toolbar-separator goog-toolbar-separator-disabled goog-inline-block"
                         aria-disabled="true" role="separator" id=":n" style="-webkit-user-select: none;">
                        &nbsp;</div>
                    <div class="goog-inline-block goog-toolbar-button" title="插入图片" role="button" id="image"
                         style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-image" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-inline-block goog-toolbar-button" title="插入视频" role="button" id="video"
                         style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-video" style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goog-toolbar-separator goog-toolbar-separator-disabled goog-inline-block"
                         aria-disabled="true" role="separator" id=":o" style="-webkit-user-select: none;">
                        &nbsp;</div>
                    <div class="goog-inline-block goog-toolbar-button" title="清除格式" role="button"
                         id="+removeFormat" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-toolbar-button-outer-box"
                             style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-toolbar-button-inner-box"
                                 style="-webkit-user-select: none;">
                                <div class="tr-icon tr-removeFormat"
                                     style="-webkit-user-select: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tr-spinner spinner-gray" style="display: none;"></div>
                </div>
            </div>
            <div class="zm-editable-editor-field-wrap">
                <div id="mock:f" class="zm-editable-editor-field-element editable" g_editable="true"
                     role="textbox" contenteditable="true" style="font-style: italic;">
                    <p>
                        <span style="font-style: normal;color: #999;">写回答…</span></p>
                </div>
                <div class="editable-dropzone">
                    <div class="row">
                        <div class="cell">
                            <div>拖拽至此处上传</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mention-popup" style="display: none;">
                <div class="writing-bg">
                    <input role="combobox" aria-autocomplete="list" autocomplete="off"></div>
                <div class="tip">想用 @ 提到谁？</div>
            </div>
        </div>
        <div class="zm-command clearfix">
            <label class="zg-left anno-box" style="-webkit-user-select: none;">
                <input name="anno-checkbox" type="checkbox" style="-webkit-user-select: none;">匿名
                <span style="-webkit-user-select: none;">&nbsp;</span></label>
            <label class="zg-left copyright-box">
                <input name="copyright-checkbox" type="checkbox">未经许可，禁止转载
                <a href="terms#sec-licence-6" target="_blank">
                    <i class="zg-icon zg-icon-question-mark" style="margin-left: 5px;"
                       id="copyright_question_mark" data-copyright-demo="true"></i></a>
            </label>
            <span class=" zg-right">
                                <a class="submit-button zg-btn-blue" name="save" href="javascript:">发布回答</a></span>
            <div class="draft-controls zg-right ">
                                <span class="draft-saved-info" style="display: none;">
                                    <a class="draft-clear-button goog-inline-block" href="question/36301524#"
                                       data-tip="s$b$删除草稿">
                                        <i class="zg-icon zg-icon-bin"></i>
                                        <span class="hide-text">清除草稿</span></a>
                                    <span class="draft-saved-time"></span>
                                </span>
            </div>
        </div>
    </div>
</div>