#foreach($vo in $vos )
<div id="zh-question-answer-wrap" data-pagesize="10" class="zh-question-answer-wrapper navigable"
     data-widget="navigable" data-navigable-options="{&quot;items&quot;: &quot;&gt;.zm-item-answer&quot;}"
     data-init="{&quot;params&quot;: {&quot;url_token&quot;: 36301524, &quot;pagesize&quot;: 10, &quot;offset&quot;: 0}, &quot;nodename&quot;: &quot;QuestionAnswerListV2&quot;}">
    <div tabindex="-1" class="zm-item-answer  zm-item-expanded" itemprop="topAnswer" itemscope=""
         itemtype="http://schema.org/Answer" data-aid="22162611" data-atoken="66862039" data-collapsed="0"
         data-created="1444310527" data-deleted="0" data-helpful="1" data-isowner="0" data-copyable="1"
         data-za-module="AnswerItem">
        <link itemprop="url" href="">
        <meta itemprop="answer-id" content="22162611">
        <meta itemprop="answer-url-token" content="66862039">
        <a class="zg-anchor-hidden" name="answer-22162611"></a>
        <div class="zm-votebar goog-scrollfloater" data-za-module="VoteBar">
            <button class="up" aria-pressed="false" title="赞同">
                <i class="icon vote-arrow"></i>
                <span class="count">$!{vo.comment.content}</span>
                <span class="label sr-only">赞同</span></button>
            <button class="down" aria-pressed="false" title="反对，不会显示你的姓名">
                <i class="icon vote-arrow"></i>
                <span class="label sr-only">反对，不会显示你的姓名</span></button>
        </div>
        <div class="answer-head">
            <div class="zm-item-answer-author-info">
                <a class="zm-item-link-avatar avatar-link" href="" target="_blank"
                   data-tip="p$t$yingxiaodao">
                    <img src="$!{vo.user.getHeadUrl()}"
                         class="zm-list-avatar avatar"></a>
                <a class="author-link" data-tip="p$t$yingxiaodao" target="_blank" href="">$!{vo.user.name}</a>
                <span title="爱科学 爱运动" class="bio">，爱科学 爱运动</span></div>
            <div class="zm-item-vote-info" data-votecount="$!{vo.comment.id}" data-za-module="VoteInfo">
                                <span class="voters text">
                                    <a href="" class="more text">
                                        <span class="js-voteCount">$!{question.getCommentCount()}</span>&nbsp;人赞同</a></span>
            </div>
        </div>
        <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="6727688"
             data-action="/answer/content" data-author-name="营销岛"
             data-entry-url="/question/36301524/answer/66862039">
            <div class="zh-summary summary clearfix" style="display:none;">
                $!{vo.comment.content}<a href="" class="toggle-expand">显示全部</a></div>
            <div class="zm-editable-content clearfix">
                $!{vo.comment.content}
            </div>
        </div>
        <a class="zg-anchor-hidden ac" name="22162611-comment"></a>
        <div class="zm-item-meta answer-actions clearfix js-contentActions">
            <div class="zm-meta-panel">
                <a itemprop="url" class="answer-date-link meta-item" target="_blank" href="">$!{vo.user.name}发布于
                    $!{question.getCreatedDate()}</a>
                <a href="" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                    <i class="z-icon-comment"></i> 条评论</a>
                <a href="" class="meta-item zu-autohide js-thank" data-thanked="false">
                    <i class="z-icon-thank"></i>感谢</a>

                <button class="item-collapse js-collapse" style="transition: none;">
                    <i class="z-icon-fold"></i>收起
                </button>
            </div>
        </div>
    </div>
</div>
#end